@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.container {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.container .elements {
  margin-top: -31px;
  margin-bottom: 26px;
}

.container .elements .title {
  color: #2568FB;
  font-size: xx-large;
}

.container .elements .subtitle {
  font-size: x-large;
}


.container .elements .word {
  color: #2568FB;
  font-weight: bold;
  font-size: large;
}

.container .elements .def {
  font-size: large;
}

.container .elements {
  position: relative;
  top: -40px;
  left: -10px;
  z-index: 5;
  background: #ffffff;
  border-radius: 12px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.container elements {
  font-family: "Roboto", sans-serif;
  outline: 0;
  border-radius: 12px;
  background: #ffffff;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form .button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  border-radius: 12px;
  background-color: #FECD45;
  background-image: linear-gradient(45deg, #f8b600, #fcd774);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

body {
  background-color: #FECD45;
  background-image: linear-gradient(45deg, #fcd774, #f8b600);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}
